* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    width: 75vw;
    height: 30vh;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    background-image: url('https://i.pinimg.com/736x/5b/d1/70/5bd170bb4655992be36d6034b35224fd.jpg');
    background-position-y: -50px;
}

.trap-disabled {
    position: absolute;
    bottom: 5px;
    width: 150px;
    mix-blend-mode: multiply;
    animation: trap-movement 2s infinite linear;
}

.sonic {
    transform: scaleX(-1);
    mix-blend-mode: multiply;
    position: absolute;
    bottom: -95px;
    left: -20px;
}

.jumping {
    animation: jump 800ms ease-out;
}

@keyframes trap-movement {
    from {
        right: -15%;
    }
    
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: -95px;
    }

    30% {
        bottom: -10px;
    }

    50% {
        bottom: 50px;
    }

    80% {
        bottom: -10px;
    }

    100% {
        bottom: -95px;
    }
}